<button
  {{on 'click' @onClick}}
  type='button'
  class='inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white'
  aria-controls='mobile-menu'
  aria-expanded='false'
>
  <span class='sr-only'>{{t 'menu.openMainMenu'}}</span>

  {{#if @isMobileMenuExpanded}}
    <HeroIcon @icon='x-mark' class='w-8' />
  {{else}}
    <HeroIcon @icon='bars-3' class='w-8' />
  {{/if}}
</button>