<div class='flex flex-wrap gap-4 md:px-6 lg:px-8'>
  <FormCheckbox
    @label={{t 'selectAll'}}
    @checked={{this.isSelectAllChecked}}
    @onChange={{@selectAll}}
  />
  {{yield
    (hash
      Button=(component
        'data-grid/action-bar/button'
        areActionsDisabled=this.areActionsDisabled
        selection=@selection
      )
      SafeButton=(component
        'data-grid/action-bar/safe-button'
        selection=@selection
      )
    )
  }}
</div>